@model CreateRole


<form  asp-controller="Role" asp-action="Create" method="post">
    
    <div class="row form-group">
        <div class="col-sm-2">
            <label asp-for="RoleName"></label>
        </div>
        <div class="col-sm-10">
            <input asp-for="RoleName" class="form-control" />
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
    </div>
    <div class="row form-group justify-content-center">
        <button type="submit" class="btn btn-primary form-group mr-5">Tạo mới</button>
        <a asp-controller="Role" asp-action="Index" class="btn btn-warning form-group">Trở lại</a>
    </div>
</form>
