@model CategoryCreate
@{ 
    ViewBag.Title = "Create new category";
    var categories = ViewBag.Categories as List<Category>;
}

<form enctype="multipart/form-data" asp-controller="Category" asp-action="Create" method="post">
    <h3 class="m-0 font-weight-bold text-primary mb-5">Tạo mới mẫu giày</h3>
    <div class="row form-group">
        <div class="col-sm-2">
            <label asp-for="CategoryName"></label>
        </div>
        <div class="col-sm-10">
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-2">
            <label asp-for="CategoryImage"></label>
        </div>
        <div class="col-sm-10">
            <div class="custom-file">
                <input class="custom-file-input" value="nonCat.jpg" asp-for="CategoryImage">
                <label class="custom-file-label" asp-for="CategoryImage" for="customFile">Chọn ảnh</label>
                <span asp-validation-for="CategoryImage" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="text-center mb-3">
        <img id="avatar" src="~/images/Category/nonCat.jpg" style="width:300px;height:300px" />
    </div>
    <div style="margin-left: 200px;" asp-validation-summary="All" class="text-danger"></div>
    <div class="row form-group justify-content-center">
        <button type="submit" class="btn btn-primary form-group mr-5">Tạo mới</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-warning form-group">Trở lại</a>
    </div>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                $("#avatar").attr("src", window.URL.createObjectURL($(this)[0].files[0]));
            });
        });
    </script>
}

