@model CategoryEdit
@{
    ViewBag.Title = "Cập nhật";
}
<h3 class="m-0 font-weight-bold text-primary mb-5">@ViewBag.Title</h3>
<form enctype="multipart/form-data" asp-controller="Category" asp-action="Edit" method="post">
    <div class="row form-group">
        <input hidden asp-for="CategoryId" value="@Model.CategoryId" />
        <input hidden asp-for="ImagePath" value="@Model.ImagePath" />
    </div>

    <div class="row form-group">
        <div class="col-sm-2">
            <label asp-for="CategoryName"></label>
        </div>
        <div class="col-sm-10">
            <input asp-for="CategoryName" class="form-control" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-2">
            <label asp-for="Image"></label>
        </div>
        <div class="col-sm-10">
            <div class="custom-file">
                <input class="custom-file-input" asp-for="Image" >
                <label class="custom-file-label" for="customFile"></label>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="text-center mb-3">
        <img id="avatar" src="~/images/Category/@Model.ImagePath" style="width:300px;height:300px" asp-append-version="true" />
    </div>
    <div class="row form-group justify-content-center">
        <button type="submit" class="btn btn-primary form-group mr-5">Cập nhật</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-warning form-group">Trở lại</a>
    </div>

</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".custom-file-input").on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                $("#avatar").attr("src", window.URL.createObjectURL($(this)[0].files[0]));
            });
        });
    </script>
}

