@model List<Product>
@{
    ViewData["Title"] = "H9 Shoes";
}


<div class="new_arrivals" style="margin-top: 150px;">
    <div class="container">
        <div class="text-center">
            <h2 style="color:darkblue"><u>Products</u></h2>
        </div>
        <div class="row">
            <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>
                <!-- Products-->
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <div class="product-item men">
                            <div class="product discount product_filter">
                                <div class="product_image">
                                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.ProductId">
                                        <img src="~/images/items/@item.PathImage" alt="">
                                    </a>
                                </div>
                                <div class="favorite favorite_left"></div>
                                @if (item.Sale > 0)
                                {
                                    <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-@item.Sale</span></div>
                                }
                                <div class="product_info">
                                    <h6 class="product_name"><a asp-controller="Home" asp-action="Detail" asp-route-id="@item.ProductId">@item.ProductName</a></h6>
                                    @if (item.Sale > 0)
                                    {
                                        <div class="product_price">$@(item.Price-item.Price*item.Sale/100)<span>$@item.Price</span></div>
                                    }
                                    else
                                    {
                                        <div class="product_price">$@item.Price</div>
                                    }

                                </div>
                            </div>
                            <div class="red_button add_to_cart_button"><a asp-controller="Home" asp-action="Detail" asp-route-id="@item.ProductId">add to cart</a></div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>



