@{
    ViewBag.Title = "Access Denied";
}
<div class=" alert alert-danger mt-2">
    <h2>
        @ViewBag.Title
    </h2>
    <hr />
    <h5> Bạn cần thêm quyền để có thể tiếp tục truy cập!!! </h5>
</div>
<a asp-controller="Home" asp-action="Index" class=" btn btn-outline-warning" style="width:auto">
    Trở về 
</a>
