
@inject SignInManager<ApplicationUser> signInManager
@model CreateUser
@{
    ViewBag.Title = "Tạo mới người dùng";
    var roles = ViewBag.Roles as List<Role>;
}
<h3 class="m-0 font-weight-bold text-primary mb-5">@ViewBag.Title</h3>
<div class="container mt-30 ml-50">
    <div class="col-sm-8 offset-sm-2 " style="margin-bottom:50px;margin-top:50px;">
        <form enctype="multipart/form-data" asp-controller="User" asp-action="Create" method="post">
            <div>
                <div>
                    <div style="margin:15px;">
                        <div class="row form-group">
                            <div class="col-sm-3">
                                <label asp-for="FullName"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="FullName" class="form-control" />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-3">
                                <label asp-for="Gender"></label>
                            </div>
                            <div class="col-sm-9" style="display:flex">
                                <input style="margin:5px 5px 0px 0px;" type="radio" name="Gender" value="Male" asp-for="Gender" /> Nam
                                <input style="margin:5px 5px 0px 15px;" type="radio" name="Gender" value="Female" asp-for="Gender" /> Nữ
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-3">
                                <label asp-for="Email"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-3">
                                <label asp-for="Password"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-3">
                                <label asp-for="ConfirmPasswork"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="ConfirmPasswork" class="form-control" />
                                <span asp-validation-for="ConfirmPasswork" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-3">
                                <label asp-for="Address"></label>
                            </div>
                            <div class="col-sm-9">
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-3">
                                <label asp-for="RoleId">Role</label>
                            </div>
                            <div class="col-sm-9">
                                <select asp-for="RoleId" class="custom-select">
                                    <option disabled value="">Select a role</option>
                                    @if (roles != null && roles.Any() && signInManager.IsSignedIn(User))
                                    {
                                        foreach (var role in roles)
                                        {
                                            if (User.IsInRole("System Admin") && role.RoleName == "System Admin")
                                            {
                                                continue;
                                            }
                                            else
                                            {
                                                if (!role.RoleName.Equals("System Admin"))
                                                {
                                                    <option value="@role.RoleId">@role.RoleName</option>
                                                }
                                            }

                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row form-group justify-content-center mt-5">
                            <button type="submit" class="btn btn-primary form-group mr-5" style="width:100px;">Tạo mới</button>
                            <a asp-controller="User" asp-action="Index" class="btn btn-warning form-group" style="width:100px;">Trở lại</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
