@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@{
    var user = await userManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>H9 Shoes Shop Managerment</title>

    <link href="~/mystyle/vendor/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="~/mystyle/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/mystyle/css/sb-admin-2.css" rel="stylesheet" />

</head>
<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-briefcase"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Quản lý<sup></sup></div>
            </a>

            <li class="nav-item">
                <a class="nav-link collapsed" asp-controller="Category" asp-action="Index" aria-expanded="true">
                    <i class="fas fa-swatchbook"></i>
                    <span>Chủng loại</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-controller="Product" asp-action="Index" aria-expanded="true">
                    <i class="fas fa-shoe-prints"></i>
                    <span>Sản phẩm</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" asp-controller="Order" asp-action="Index" aria-expanded="true">
                    <i class="fas fa-book"></i>
                    <span>Đơn hàng</span>
                </a>
            </li>
            @if (User.IsInRole("System Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="Role" asp-action="Index" aria-expanded="true">
                        <i class="fas fa-user-slash"></i>
                        <span>Quyền</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" asp-controller="User" asp-action="Index" aria-expanded="true">
                        <i class="fas fa-users"></i>
                        <span>Người dùng</span>
                    </a>
                </li>
            }
            <li class="nav-item">
                <a class="nav-link collapsed" asp-controller="User" asp-action="Index2" aria-expanded="true">
                    <i class="fas fa-users"></i>
                    <span>Khách hàng</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" asp-controller="Home" asp-action="Index" aria-expanded="true">
                    <i class="fas fa-home"></i>
                    <span>Trang chủ người dùng</span>
                </a>
            </li>
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        @if (signInManager.IsSignedIn(User) && user != null)
                        {
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@user.FullName </span>
                                    <img class="img-profile rounded-circle" src="~/images/Avatar/@user.ImagePath">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                                    <div class="dropdown-divider"></div>
                                    <button class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Đăng xuất
                                    </button>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class=" d-flex align-items-center"><a style="float: left" asp-controller="Account" asp-action="Login" class="btn btn-block"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                            <li class=" d-flex align-items-center"><a style="float: left" asp-controller="Account" asp-action="Register" class="btn btn-block"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                        }

                    </ul>
                </nav>
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; H9 Shoes @DateTime.Now</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đăng xuất</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Bạn thực sự muốn đăng xuất?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" asp-controller="Account" asp-action="Logout">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/mystyle/vendor/jquery/jquery.js"></script>
    <script src="~/mystyle/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="~/mystyle/vendor/jquery-easing/jquery.easing.js"></script>
    <script src="~/mystyle/js/sb-admin-2.js"></script>
    <script src="~/mystyle/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/mystyle/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/mystyle/js/demo/datatables-demo.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    @RenderSection("Scripts", false)
</body>

</html>

