
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng nhập</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="~/login/vendor/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="~/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">

    <link rel="stylesheet" type="text/css" href="~/login/vendor/animate/animate.css">

    <link rel="stylesheet" type="text/css" href="~/login/vendor/css-hamburgers/hamburgers.min.css">

    <link rel="stylesheet" type="text/css" href="~/login/vendor/animsition/css/animsition.min.css">

    <link rel="stylesheet" type="text/css" href="~/login/vendor/select2/select2.min.css">

    <link rel="stylesheet" type="text/css" href="~/login/vendor/daterangepicker/daterangepicker.css">

    <link rel="stylesheet" type="text/css" href="~/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/login/css/main.css">

</head>
<body>

  
        @RenderBody()

    <script src="~/login/vendor/jquery/jquery-3.2.1.min.js" type="b4c29f323d9a54a3306b6f11-text/javascript"></script>

    <script src="~/login/vendor/animsition/js/animsition.min.js" type="b4c29f323d9a54a3306b6f11-text/javascript"></script>

    <script src="~/login/vendor/bootstrap/js/popper.js" type="b4c29f323d9a54a3306b6f11-text/javascript"></script>
    <script src="~/login/vendor/bootstrap/js/bootstrap.min.js" type="b4c29f323d9a54a3306b6f11-text/javascript"></script>

    <script src="~/login/vendor/select2/select2.min.js" type="b4c29f323d9a54a3306b6f11-text/javascript"></script>

    <script src="~/login/vendor/daterangepicker/moment.min.js" type="b4c29f323d9a54a3306b6f11-text/javascript"></script>
    <script src="~/login/vendor/daterangepicker/daterangepicker.js" type="b4c29f323d9a54a3306b6f11-text/javascript"></script>

    <script src="~/login/vendor/countdowntime/countdowntime.js" type="b4c29f323d9a54a3306b6f11-text/javascript"></script>

    <script src="~/login/js/main.js" type="b4c29f323d9a54a3306b6f11-text/javascript"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="b4c29f323d9a54a3306b6f11-text/javascript"></script>
    <script type="b4c29f323d9a54a3306b6f11-text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="b4c29f323d9a54a3306b6f11-|49" defer=""></script>
</body>
</html>


